.eventWallContainer {
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.eventsListed {
    overflow: auto; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    align-items: center; 
    row-gap: 4vh;
    column-gap: 3.6vw;
    padding: 1.5vw; 
    box-sizing: border-box; 
}

.centeredError {
    justify-content: center; 
}
  
