.eventContainer {
    width: 100vw;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.eventAndGuestsContainter {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.outerEventDetailsContainer {
    width: 80%;
    padding: 2rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.eventDetailsContainer, .eventGuestListContainer, .eventCommentsContainer {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

}

.eventDetailsContainer h1, .eventGuestListContainer h1, .eventCommentsContainer h1 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.eventDetailsContainer p, .eventCommentsContainer div, .eventGuestListContainer div {
    color: #000000;
    line-height: 1.5;
}

.commentItem, .guestItem {
    padding: 1rem 0;
    border-top: 1px solid #eee;
}

.commentItem:first-child, .guestItem:first-child {
    border-top: none;
}

.profileIcon {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: 0.7rem;
}

.input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 96px);
    margin-right: 8px;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #2d757c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.likeButton {
    padding: 0.5rem 0.5rem;
    color: #0056b3;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.likeButton svg {
    width: 1.2rem;
    height: 1.2rem;
}

.button:hover {
    background-color: #2e8371;
}

.button:disabled {
    background-color: #ccc;
}

.outerEventDetailsContainer {
    overflow-y: auto;
}
.username {
    font-weight: bold;
    color: #333;
}
.comment {
    margin-left: 2.2rem;
    margin-top: 0.8rem;
    color: #666;
}

.description_box {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    min-width: 40vw;
    max-width: 40vw;
    min-height: 8vh;
    max-height: 8vh;
    overflow-y: auto;
}
