.event-item-container {
    background-color: #eeeeee;
    border: 0.11vw solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 15%;
    height: 25%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.event-item-top {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.profileIcon3 {
    height: 2.8vw;
    width: 2.8vw; 
    border-radius: 50%;  
    cursor: pointer; 
    text-align: center;
}