.eventContainer {
    max-height: 50vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.outerEventDetailsContainer{
    max-height: 94vh;
    display: flex;
}

.eventDetailsContainer{
    width: 33%;
    height: 100%;
}

.eventCommentsContainer {
    width: 33%;
}

.eventGuestListContainer{
    width: 34%;
}