.homeContainer {
    text-align: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
}

.searchContainer {
    height: 35vh;
    width: 100vw;
    margin-top: 0.5vh;
    background-color: rgb(241, 231, 231);
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcomingEventsContainer{
    min-height: 57.5vh;
    width: 100vw;
    background-color: rgb(130, 160, 163);
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.searchBox {
    height: 20%;
    width: 25%;
    background-color: rgb(241, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton {
    margin-bottom:2vh;
    font-size: 1vw;
    width: 90%;
    height: 85%;
    border-radius: 1.2vh;
    border: solid black 0.11vw;
    cursor: pointer;
    background-color: rgb(185, 212, 224);
}

.searchButton:hover {
    background-color: rgb(104, 157, 182);
}

.popup_search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 520px;
    z-index: 1050;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
}

  