.profileContainer {
    text-align: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    
}

.innerProfileContainer{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-height: 70%;
    overflow: auto;
    width: 300px;
}

.modal-list {
    max-height: 200px;
    overflow-y: auto;
}

.eventsListed {
    overflow: auto; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    align-items: center; 
    row-gap: 4vh;
    column-gap: 3.6vw;
    padding: 1.5vw; 
    box-sizing: border-box; 
}

.buttonsContainer{
    margin-top: 2vh;
    width: 100vw;
    height: 8vh;
    align-items: center;
}

.profileBottom {
    width: 100vw;
    height: 10vh;
}

.profileButton {
    height: 63%;
    width: 12%;
    margin: 0% 1.5%;
    margin-bottom:2vh;
    font-size: 1vw;
    border-radius: 1.2vh;
    border: solid black 0.11vw;
    cursor: pointer;
    background-color: rgb(185, 212, 224);
}

.profileButton:hover {
    background-color: rgb(104, 157, 182);
}

.profileIcon2 {
    height: 3.3vw;
    width: 3.3vw; 
    border-radius: 50%;   
}


